{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}


{% block layout_footer_navigation %}
    <div class="ingos-footer-navigation-wrapper">

        {{ parent() }}
        <div class="has-borderless-links">
            <a href="{{ "ingos.openMindCultureTheme.contactUrl"|trans }}">{{ "ingos.openMindCultureTheme.contact"|trans }}</a> |
            <a href="{{ "ingos.openMindCultureTheme.imprintUrl"|trans }}">{{ "ingos.openMindCultureTheme.imprint"|trans }}</a> |
            <a href="{{ "ingos.openMindCultureTheme.privacyUrl"|trans }}">{{ "ingos.openMindCultureTheme.privacy"|trans }}</a> |
            <a href="{{ "ingos.openMindCultureTheme.accessibilityUrl"|trans }}">{{ "ingos.openMindCultureTheme.accessibility"|trans }}</a> |
            <a href="{{ "ingos.openMindCultureTheme.blogUrl"|trans }}">{{ "ingos.openMindCultureTheme.blog"|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block layout_footer_copyright %}
    <div class="footer-copyright-user">Copyright ©{{ "now"|date("Y") }} <a href="https://www.open-mind-culture.org"> Open Mind Culture</a> -
        <a href="https://www.ingo-steinke.de/" target="_blank">Ingo Steinke</a></div>
    {{ parent() }}
{% endblock %}

{% block layout_footer_navigation_information_content %}
{% endblock %}

{% block layout_footer_navigation_information_icons %}
{% endblock %}

{% block layout_footer_navigation_hotline %}
{% endblock %}

{% block layout_footer_payment_shipping_logos %}
{% endblock %}

{% block layout_footer_service_menu %}
{% endblock %}